@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;900&display=swap");

:root {
	--primary-color: #3b82f6;
	--primary-dark: #2563eb;

	--primary-light: #60a5fa;
	--secondary-color: #212121;
	--secondary-light: #313131;
	--secondary-dark: #111111;
	--off-white: #eff6ff;
}

.App {
	text-align: center;
	overflow: hidden;
}
hr {
	border: 1px solid black;
	width: 60%;
	margin: 1rem auto;
	padding: 0;
	display: block;
}
.link {
	text-decoration: none;
}
.navigation {
	text-align: center;
	width: 100%;
	background-color: var(--primary-color);
	padding: 1rem;
	font-size: 1.5rem;
	
	text-decoration: bold;
}

.nav-icon {
	display: inline;
	margin: 1rem 0.1rem;
}
.navigation-header {
	display: inline;

	margin: 1rem 0.1rem;
}
.genre-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	padding: 2rem;
	margin: auto;
	background-color: var(--off-white);
	margin-bottom: 0;
	overflow: hidden;
}
.genre-button {
	flex: 1;
	width: 8vh;
	min-width: 210px;
	max-width: 440px;
	font-family: "Titillium Web", sans-serif;
	font-size: 1.6rem;
	padding: 1rem;
	margin: 1rem 1.7rem;
	height: 23vh;
	padding: 1rem;
	text-decoration: bold;
	border: 2px solid var(--secondary-color);
	border-radius: 2rem;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}
.genre-button:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
	border: 2.5px solid var(--primary-dark);
	color: var(--primary-dark);
	/* background-color: var(--secondary-color); */
	background-image: url("./resources/images/TheNunButton.png");
	background-size: cover;
}
.genre-button h2 {
	margin: auto;
}
.suggestions {
	background-color: var(--primary-light);
	margin-top: 0rem;
	padding-top: 1rem;
	overflow: hidden;
}
.suggestion-card {
	width: 60%;
	background-color: var(--secondary-dark);
	display: flex;
	flex-wrap: wrap;
	margin: 1.4rem auto;
	border: 1px solid black;
	color: var(--primary-color);
	margin-bottom: 1rem;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	cursor: pointer;
	border-radius: 0.8rem;

}
.suggestion-card:hover {
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(-2.3px);
	transform: translateY(-2.3px);
}
.suggestions-header {
	font-size: 1.8rem;
	text-decoration: bold;
	margin: auto;
}
.card-left {
	flex: 2;
	width: 30%;
	text-align: left;
	margin: 0rem 1rem 0rem 0rem;
}
.suggestion-card img {
	border-radius: 0.8rem;
	height: 100%;
	width: 100%;
}
.card-info {
	margin: 0rem 1rem;
	text-align: left;
	font-size: 1.1rem;

	flex: 7;
}
.card-info p {
	color: var(--off-white);
}
.card-info-header {
	text-align: left;
}
.rating {
	text-align: center;
	padding: 0rem;
	margin-bottom: 0rem;

}
.rating h2 {
	padding-top: 0rem;
	margin-top: 0rem;
  font-size: 2.1rem;

}
.rating h3 {
	padding-bottom: 0rem;
  margin-bottom: 0rem;
}
.rating span {
	color: var(--off-white);
}
.footer {
	background-color: var(--secondary-color);
	height: auto;
	padding: 0.8rem;
  font-size: 1.1rem;
	text-align: center;
}
.footer-content {
	margin: 1rem;
}
.footer-link {
	color: var(--primary-light);
}
.footer-link:hover {
	color: var(--secondary-light);
}
@media screen and (max-width: 800px) {
	.navigation {
	text-align: center;
	width: 100%;
	background-color: var(--primary-color);
	padding: 1rem;
	font-size: 1.3rem;
	
	text-decoration: bold;
}

.genre-button{
	padding: 0.6rem;
	font-size: 1.4rem;
	width: 6vh;
	height: 19vh;
}
.suggestion-card{
	width: 90%;
	display: block;
}
.card-info{
	font-size: 1rem;
}
.footer{
	height: auto;
}
}