:root{
  --primary-color:#3B82F6;
  --primary-dark:#2563EB;

  --primary-light:#60A5FA;
  --secondary-color: #212121;
	--secondary-light: #484848;
  --off-white: #EFF6FF;



}

.App {
  text-align: center;
}
hr{
  width: 70%;
  margin: auto;
}

.navigation{
  text-align: center;
  width: 100%;
  background-color: var(--primary-color);
  padding: 1rem;
  font-size: 1.4rem;
  text-decoration: bold;
}
.nav-icon{
  display: inline;
  margin: 1rem 0rem;
}
.navigation-header{
  display: inline;

  margin: 1rem 0rem;
}
.genre-list{
  display: flex;
  padding: 2rem;
  margin: auto;
  background-color: var(--off-white);
}
.genre-button{
  flex:1;
  width: 8vh;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem 1.7rem;
  height: 23vh;
  border: 2px solid var(--secondary-color);
  border-radius: 2rem;
  cursor: pointer;
}


