@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;900&display=swap');

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media screen and (max-width: 601px) {
	body{
    font-size: 0.5rem;
  }
}